.img-container {
    position: absolute;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 50px;
    animation: rotateAnimation 5s ease infinite;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(-10deg);
      }
      50% {
        transform: rotate(30deg);
      }
      100% {
        transform: rotate(-10deg);
      }
  }